accelerate
bitsandbytes
datasets
deepspeed==0.18.1
einops
grpcio>=1.74.0
isort
jsonlines
loralib
numpy<2.3
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers==4.57.3
transformers_stream_generator
wandb
wheel
