absl_py==2.3.1+computecanada
accelerate==1.12.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiohttp-cors==0.7.0+computecanada
aiosignal==1.4.0+computecanada
annotated_doc==0.0.4+computecanada
annotated_types==0.7.0+computecanada
anthropic==0.71.0+computecanada
anyio==4.12.0+computecanada
apache_tvm_ffi==0.1.0+computecanada
astor==0.8.1+computecanada
asttokens==3.0.0+computecanada
attrs==25.4.0+computecanada
bitsandbytes==0.49.0+computecanada
blake3==1.0.4+computecanada
cachetools==6.2.4+computecanada
cbor2==5.7.1+computecanada
certifi==2025.11.12+computecanada
charset_normalizer==3.4.4+computecanada
click==8.3.1+computecanada
cloudpickle==3.1.2+computecanada
coloredlogs==15.0.1+computecanada
colorful==0.5.6+computecanada
comm==0.2.2+computecanada
compressed_tensors==0.12.2+computecanada
contourpy==1.3.1+computecanada
cuda_bindings==12.9.3+computecanada
cuda_pathfinder==1.3.3+computecanada
cuda_python==12.9.3+computecanada
cupy==13.6.0+computecanada
cycler==0.12.1+computecanada
datasets==4.4.1+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
deepspeed==0.18.1+computecanada
depyf==0.20.0+computecanada
dill==0.4.0+computecanada
diskcache==5.6.3+computecanada
distlib==0.4.0+computecanada
distro==1.9.0+computecanada
dnspython==2.8.0+computecanada
docstring_parser==0.17.0+computecanada
einops==0.8.1+computecanada
email_validator==2.3.0+computecanada
executing==2.2.0+computecanada
fastapi==0.128.0+computecanada
fastapi_cli==0.0.16+computecanada
fastapi_cloud_cli==0.7.0+computecanada
fastar==0.8.0+computecanada
fastrlock==0.8.3+computecanada
filelock==3.20.1+computecanada
flash_attn==2.8.3+computecanada
flashinfer_python==0.5.3+computecanada
fonttools==4.55.8+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.12.0+computecanada
gguf==0.17.1+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.46+computecanada
google_api_core==1.34.0+computecanada
google_auth==2.45.0+computecanada
googleapis_common_protos==1.70.0+computecanada
grpcio==1.73.0+computecanada
h11==0.16.0+computecanada
hf_xet==1.2.0+computecanada
hjson==3.1.0+computecanada
httpcore==1.0.9+computecanada
httptools==0.6.4+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
humanfriendly==10.0+computecanada
idna==3.11+computecanada
interegular==0.3.3+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
isort==5.13.2+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jiter==0.11.1+computecanada
jmespath==1.0.1+computecanada
jsonlines==4.0.0+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
lark==1.2.2+computecanada
lightning_utilities==0.15.2+computecanada
linkify_it_py==2.0.3+computecanada
llguidance==1.3.0+computecanada
llvmlite==0.44.0+computecanada
lm_format_enforcer==0.11.3+computecanada
loguru==0.7.3+computecanada
loralib==0.1.2+computecanada
markdown==3.9+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mdit_py_plugins==0.4.2+computecanada
mdurl==0.1.2+computecanada
memray==1.14.0+computecanada
mistral_common==1.8.8+computecanada
model_hosting_container_standards==0.1.12+computecanada
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
msgspec==0.19.0+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.18+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.6.1+computecanada
ninja==1.11.1+computecanada
numba==0.61.2+computecanada
numpy==2.3.3+computecanada
nvidia_cudnn_frontend==1.16.0+computecanada
nvidia_cutlass_dsl==4.3.0+computecanada
nvidia_ml_py==12.575.51+computecanada
openai==2.14.0+computecanada
openai_harmony==0.0.4+computecanada
opencensus==0.7.13+computecanada
opencensus-context==0.1.2+computecanada
opencv_contrib_python==4.12.0
opencv_contrib_python_headless==4.12.0
opencv_python==4.12.0
opencv_python_headless==4.12.0
optimum==1.16.2+computecanada
optree==0.14.0+computecanada
outlines_core==0.2.11+computecanada
packaging==24.2+computecanada
pandas==2.2.3+computecanada
parso==0.8.4+computecanada
partial_json_parser==0.2.1.1.post7+computecanada
peft==0.18.0+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs==4.3.6+computecanada
prometheus_client==0.23.1+computecanada
prometheus_fastapi_instrumentator==7.1.0+computecanada
prompt_toolkit==3.0.50+computecanada
propcache==0.4.1+computecanada
protobuf==3.20.3+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_cpuinfo==9.0.0+computecanada
py_spy==0.3.14+computecanada
pyarrow @ file:///tmp/ebuser/avx512/Arrow/21.0.0/GCCcore-13.3-gentoo/arrow/python
pyasn1==0.6.1+computecanada
pyasn1_modules==0.4.2+computecanada
pybase64==1.4.1+computecanada
pycountry==24.6.1+computecanada
pydantic==2.12.5+computecanada
pydantic_core==2.41.5+computecanada
pydantic_extra_types==2.10.6+computecanada
pydantic_settings==2.12.0+computecanada
pygments==2.19.1+computecanada
pynvml==12.0.0+computecanada
pyparsing==3.2.1+computecanada
python_dateutil==2.9.0.post0+computecanada
python_dotenv==1.2.1+computecanada
python_json_logger==4.0.0+computecanada
python_multipart==0.0.21+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
ray==2.49.1+computecanada
referencing==0.37.0+computecanada
regex==2024.11.6+computecanada
requests==2.32.5+computecanada
rich==14.2.0+computecanada
rich_toolkit==0.17.1+computecanada
rignore==0.6.2+computecanada
rpds_py==0.27.0+computecanada
rsa==4.9.1+computecanada
safetensors==0.5.3+computecanada
scipy==1.15.1+computecanada
sentencepiece==0.2.0+computecanada
sentry_sdk==2.48.0+computecanada
setproctitle==1.3.7+computecanada
setuptools==80.9.0+computecanada
shellingham==1.5.4+computecanada
six==1.17.0+computecanada
smart_open==7.1.0+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
stack_data==0.6.3+computecanada
starlette==0.50.0+computecanada
supervisor==4.3.0+computecanada
sympy==1.14.0+computecanada
tabulate==0.9.0+computecanada
tensorboard==2.20.0+computecanada
tensorboard_data_server==0.7.2+computecanada
textual==0.84.0+computecanada
tiktoken==0.11.0+computecanada
tokenizers==0.22.1+computecanada
torch==2.9.1+computecanada
torchaudio==2.9.0+computecanada
torchdata==0.11.0+computecanada
torchmetrics==1.8.2+computecanada
torchvision==0.24.0+computecanada
tornado==6.4.2+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.3+computecanada
transformers_stream_generator==0.0.5+computecanada
triton==3.5.0+computecanada
typer==0.20.1+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tzdata==2025.1+computecanada
uc_micro_py==1.0.3+computecanada
urllib3==2.6.2+computecanada
uvicorn==0.40.0+computecanada
uvloop==0.22.1+computecanada
virtualenv==20.31.2+computecanada
vllm==0.12.0+cu122.computecanada
wandb==0.21.2+computecanada
watchfiles==1.1.1+computecanada
wcwidth==0.2.13+computecanada
websockets==15.0.1+computecanada
werkzeug==3.1.4+computecanada
wheel==0.45.1+computecanada
widgetsnbextension==4.0.13+computecanada
wrapt==2.0.1+computecanada
xgrammar==0.1.27+computecanada
xxhash==3.5.0+computecanada
yarl==1.22.0+computecanada
